# rcov generated
coverage
coverage.data

# rdoc generated
rdoc

# yard generated
#doc
.yardoc

# bundler
#.bundle

# jeweler generated
pkg

# MacOSX
.DS_Store

# Windows
Thumbs.db

# vim
*.swp

# Unity
/Library/*
#!/Library/BuildSettings.asset
#!/Library/ProjectSettings.asset
/ProjectSettings/ProjectVersion.txt
/ProjectSettings/UnityAdsSettings.asset
/ProjectSettings/UnityConnectSettings.asset

Assembly-*
/*.csproj
/*.sln
*.suo
*.pidb
*.userprefs
/Temp/

# WindowsStore for unity editor
/LocalState/
/RoamingState/
/TempState/

# UnityVS (Tools for Unity)
/Assets/UnityVS/
/Assets/UnityVS**
/UnityVS.client.sln.DotSettings
.vs/**

# visual studio 2015/2017
*.opendb
*.db
*.suo
#*.idb
#*.ilk
#*.ipch
#*.pdb
#*.ipdb
#*.pidb
#*.cache
#*.log
#*.obj
#*.iobj
#*.tlog
*.userprefs
**/Release/*
**/Debug/*
!*.exe
!*.dll
!*.lib

**/ipcg/
**/ipch/
Assembly-*
/*.csproj
/*.sln
*.suo
*.pidb
*.userprefs

!macosx/*/*.pch

# for plugins
!*.dll
!*.winmd
!*.so
!*.jar
!*.aar
!*.xex
!*.def
!*.suprx
!*.prx
!*.rpl
!*.cpp
!*.cc
!*.h
!*.jslib
!*.jspre
!*.bc
!*.a
!*.m
!*.mm
!*.swift
!*.xib

# SoundForge
*.sfk
*.sfk.meta

# Substance
!*.sbr

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/

#/bin/
TemporaryGeneratedFile_*.cs

/App*
